div.modal.find-replace-modal {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	padding: 8px;
	width: var(--dialog-max-width);
}

.find-replace-modal .modal-content .row {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 16px 0px;
}


.find-replace-modal .modal-content .row .input-label {
	display: flex;
	justify-content: flex-end;
	height: 100%;
	font-weight: bold;
}


.find-replace-modal .modal-content .row .postfix-label {
	display: flex;
	height: 100%;
	margin-left: 8px;
	justify-content: flex-end;
	color: var(--color-base-60);
}


.find-replace-modal .modal-content .row .check-label {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	margin-right: 8px;
}


.find-replace-modal .modal-content .row .input-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0;
}


.find-replace-modal .modal-content .row .input-wrapper input {
	width: 100%;
}


.find-replace-modal .modal-content .button-wrapper {
	justify-content: center;
	margin-top: 16px;
}

.find-replace-modal .center-panel {
	width: 50%;
}

.find-replace-modal .input-wrapper textarea {
	width: 100%;
	resize: none;
	min-height: 120px;
	border: 2px dotted var(--interactive-accent);
	padding: 3px;
	font-size: 0.9em;
	font-family: 'Source Code Pro', var(--font-text);
}

.find-replace-modal .left-panel {
	width: 30%;
	margin-right: 10px;
	overflow-y: scroll;
}

.find-replace-modal .right-panel {
	width: 30%;
	margin-left: 10px;
	overflow-y: scroll;
}

.left-panel::-webkit-scrollbar,
.right-panel::-webkit-scrollbar {
	/* 隐藏滚动条 */
	display: none;
}

.find-replace-modal .panel-title {
	font-weight: bold;
	text-align: center;
	margin-bottom: 12px
}

.find-replace-modal .item {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	padding: 3px;
	border: 2px solid var(--color-base-30);
	border-radius: var(--modal-radius);
	font-size: 1em;
	font-family: 'Source Code Pro', var(--font-text);
}

.find-replace-modal .item:hover {
	background-color: var(--color-base-30);
	border-radius: var(--modal-radius)
}